@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

div * {
  transition: all 70ms ease-out;
}
body {
    background-color: #fdfdfc;
}

::-webkit-scrollbar {
  @apply bg-none w-2.5;
}
::-webkit-scrollbar-thumb {
  @apply bg-neutral-300 rounded-xl;
}

button {
  cursor: pointer;
}
input:focus {
  outline: none;
}
input::selection {
  outline: none;
  border: 0;
}
#nprogress .bar {
  background: #29d;
}
.active {
  @apply bg-gray-100 text-neutral-800;
}

@font-face {
  font-family: "is";
  src: url("../fonts/InstrumentSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "is-i";
  src: url("../fonts/InstrumentSans-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "is-m";
  src: url("../fonts/InstrumentSans-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "is-b";
  src: url("../fonts/InstrumentSans-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
